# Configuración del Servidor
SECRET_KEY=your_secret_key_here
FLASK_APP=run.py
FLASK_DEBUG=1

# Configuración de Base de Datos (MySQL)
DB_USER=your_user
DB_PASS=your_password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=shavua_beshavua
SQLALCHEMY_DATABASE_URI=mysql+mysqlconnector://user:pass@host:port/dbname

# Configuración de Email para Notificaciones
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
ADMIN_EMAIL=your_email@gmail.com
